DailyExpense/Service References/Expense/Expense1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8071/Expense.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Classes" />
  <xs:element name="ProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="ProductListResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonelExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="expense" nillable="true" type="q2:PersonelExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonelExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelExpensebyDateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelExpensebyDateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="PersonelExpensebyDateListResult" nillable="true" type="q3:ArrayOfExpenseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelExpensebyProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelExpensebyProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="PersonelExpensebyProductListResult" nillable="true" type="q4:ArrayOfExpenseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resultOverallChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resultOverallChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="resultOverallChartResult" nillable="true" type="q5:ArrayOfChartData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chartOverallbyProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chartOverallbyProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="chartOverallbyProductListResult" nillable="true" type="q6:ArrayOfChartData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chartOverallbyDateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chartOverallbyDateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="chartOverallbyDateListResult" nillable="true" type="q7:ArrayOfChartData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resultOverallData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resultOverallDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="resultOverallDataResult" nillable="true" type="q8:ArrayOfExpenseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetFriendsListResult" nillable="true" type="q9:ArrayOfFriendList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTripDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="tripDetails" nillable="true" type="q10:TripDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTripDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTripDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendTripMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
        <xs:element minOccurs="0" name="friendId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendTripMappingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFriendsTripExpenseEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="saveTripExp" nillable="true" type="q11:SaveTripExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFriendsTripExpenseEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TripItemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TripItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="TripItemListResult" nillable="true" type="q12:ArrayOfTripExpenseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetTripFriendsResult" nillable="true" type="q13:ArrayOfTripFriends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetTripHistoryResult" nillable="true" type="q14:ArrayOfTripHistoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetUserListResult" nillable="true" type="q15:ArrayOfUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTrips">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetUserTripsResult" nillable="true" type="q16:ArrayOfTripHistoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseCurrentMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseCurrentMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetExpenseCurrentMonthResult" nillable="true" type="q17:ArrayOfExpenseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalExpenseCurrentMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalExpenseCurrentMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalExpenseCurrentMonthResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalExpenseLastMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalExpenseLastMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalExpenseLastMonthResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripExpenseByTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripExpenseByTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetTripExpenseByTotalResult" nillable="true" type="q18:ArrayOfTripDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonTripFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonTripFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetNonTripFriendResult" nillable="true" type="q19:ArrayOfFriendList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripExpenseByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripExpenseByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetTripExpenseByUserResult" nillable="true" type="q20:ArrayOfTripDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Classes" minOccurs="0" name="GetTripDetailsResult" nillable="true" type="q21:ArrayOfTripDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>